.pagination {
  display: inline-block;
  margin: 0 20px;
}

.pagination__btn-numbers {
  width: 60px;
  height: 60px;
  margin: 0 10px;
  background-color: #002D61;
  color: #fff;
  border: 1px solid #00B1BF;
  cursor: pointer;
}

.pagination__btn-numbers:disabled {
  color: #3e4d5d;
}