.createmusic__container {
  margin-top: 10px;
  display: grid;
  grid-template-areas: 
    "config displaymusic displaymusic displaymusic displaymusic displaymusic"
    "config form form form form form"
    "config form form form form form";
}

.createmusic__displaymusic {
  grid-area: displaymusic;
}

.createmusic__config {
  grid-area: config;
  border-right: 1px solid rgb(228, 228, 228);
  margin-right: 10px;
}

.createmusic__form {
  grid-area: form;
}

.createmusic__configuration {
  margin: 10px;
}

.createmusic__col-modifier {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  height: 100px;
  min-width: 380px;
  margin-right: 10px;
  border-bottom: 1px solid rgb(228, 228, 228);
}

.createmusic__col-modifier--add {
  position: relative;
  top: 15px;
}

.createmusic__col-modifier--change {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40px;
  top: 5px;
  left: -15px;
}

.createmusic__col-modifier--left {
  position: absolute;
  top: 10px;
  left: -5px;
}

.createmusic__col-modifier--right {
  position: absolute;
  top: 45px;
  left: -2px;
}

.createmusic__col-modifier--delete {
  position: relative;
  top: 15px;
  left: -10px;
}

.createmusic__btn {
  width: 95px;
}

.createmusic__chord-builder {
  width: 1300px;
  height: 700px;
  top: 100px;
  left: 600px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  z-index: 2;
}

.createmusic__cache-section {
  display: flex;
  place-items: center;
}

.createmusic__file-section {
  display: flex;
  place-items: center;
}

.createmusic__save-btn {
  width: 80px;
  height: 50px;
  background-color: var(--primary-color);
  color: white;
}

.createmusic__row-modifier {
  height: 100px;
  display: flex;
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
  border-bottom: 1px solid rgb(228, 228, 228);
}

.createmusic__row-modifier--number {
  font-size: 24px;
  position: relative;
  top: 25px;
}

.createmusic__row-modifier--change {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40px;
  top: -10px;
  left: 10px;
}

.createmusic__row-modifier--left {
  position: absolute;
  top: 10px;
  left: -5px;
}

.createmusic__row-modifier--right {
  position: absolute;
  top: 45px;
  left: -2px;
}

.createmusic__row-modifier--new {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 10px;
}

.createmusic__row-modifier--new-copy {
  position: absolute;
  top: 35px;
}

.createmusic__row-modifier--move {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 40px;
  top: -10px;
  left: -15px;
}

.createmusic__row-modifier--up {
  position: absolute;
  top: 10px;
  left: -5px;
}

.createmusic__row-modifier--down {
  position: absolute;
  top: 45px;
  left: -2px;
}
