.createmusic__container {
  margin-top: 10px;
  display: grid;
  grid-template-areas: 
    "config displaymusic displaymusic displaymusic displaymusic displaymusic"
    "config form form form form form"
    "config form form form form form";
}

.createmusic__displaymusic {
  grid-area: displaymusic;
}

.createmusic__config {
  grid-area: config;
  border-right: 1px solid rgb(228, 228, 228);
  margin-right: 10px;
}

.createmusic__form {
  grid-area: form;
}

.createmusic__configuration {
  margin: 10px;
}

.createmusic__btn-group {
  display: flex;
  flex-wrap:wrap;
}

.createmusic__btn {
  width: 80px;
}

.createmusic__chord-builder {
  width: 1300px;
  height: 700px;
  top: 100px;
  left: 600px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  z-index: 2;
}