.viewsheetmusic {
  margin-top: 20px;
  margin-left: 20px;
  position: relative;
}

.viewsheetmusic-footer {
  margin-left: 20px;
  width: 100%;
}

.viewsheetmusic-footer__pagination {
  margin-left: 25%;
}

.viewsheetmusic-footer__zoom {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 40px;
  margin-right: 20px;
}
