.card {
  display: block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.card-body {
  height: 400px;
	width: 300px;
  padding: 5px;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 0px 10px 1px var(--primary-color);
  transition: transform 250ms ease-out 0s;
  z-index: 1;
}

.card-body:hover {
	transform: scaleX(1.05) scaleY(1.05) ;
	box-shadow: 1px 1px 15px 3px var(--primary-matching-color2);
}

.card-title {
  height: 50px;
  width: 300px;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 10px 1px var(--primary-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.card-song-title {
  font-size: 24px;
}

.card-album-title {
  font-size: 18px;
  text-align: center;
}
