.divStyle {
  background-color: black;
  color: white;
  border-radius: 10px 10px 0 0px;
  margin-left: 5px;
  margin-top: 10px;
}

@media screen and (min-width: 1500px) {
  .divStyle {
    height: 180px;
    width: 600px;
  }
}

@media screen and (min-width: 1080px) and (max-width: 1500px) {
  .divStyle {
    height: 170px;
    width: 400px;
  }
}

@media screen and (max-width: 1080px) {
  .divStyle {
    margin-top: 80px;
    height: 90px;
    width: 400px;
  }
}