.rest-type-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

.rest-type-dropdown .rest-type-dropdown-content {
  visibility: hidden;
  position: absolute;

  border: 1px solid black;
  padding: 5px 5px;
  margin: 0 0 5px 5px;
  z-index: 1;
  bottom: 100%;
  left: 50%;
}

.rest-type-dropdown-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.rest-type-dropdown-active .rest-type-dropdown-content {
  visibility: visible;
}