.view {
  margin-top: 20px;
  margin-left: 20px;
}

.viewFooter {
  margin-left: 20px;
  width: 100%;
}

.viewFooter__pagination {
  margin-left: 25%;
}

.viewFooter__zoom {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-top: 40px;
  margin-right: 20px;
}

.view__image {
  height: 322.56px;
  width: 241.92px;
}
