.resttype-dropdown {
  position: relative;
  display: inline-block;
  color: white;
  cursor: pointer;
}

.resttype-dropdown .resttype-dropdown-content {
  visibility: hidden;
  position: absolute;

  background-color: darkblue;
  border: 1px solid darkblue;
  padding: 5px 5px;
  margin: 0 0 5px 5px;
  z-index: 2;
  bottom: 100%;
  left: 50%;
}

.resttype-dropdown-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.resttype-dropdown-active .resttype-dropdown-content {
  visibility: visible;
}