.pedal-container {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1500px) {
  .pedal-btns {
    width: 350px;
  }
}

@media screen and (min-width: 1080px) and (max-width: 1500px) {
  .pedal-btns {
    width: 200px;
  }
}

@media screen and (max-width: 1080px) {
  .pedal-btns {
    width: 100px;
  }
}