.beam-notes__container {
  position: relative;
  display: flex;
  border: 1px solid black;
  border-radius: 20px;
  height: 800px;
  width: 1200px;
}

.beam-notes__test-btns {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.beam-notes__btn-container {
  position: absolute;
  display: flex;
}

.beam-notes__btn-group {
  display: flex;
  flex-direction: column;
}