.nav {
  display: flex;
}

.nav-bar {
  background-color: #33b1f8;
  height: 30px;
  margin: -8px -8px 0 -8px;
  padding: 16px;
}

.nav-item {
  cursor: pointer;
  margin-right: 24px;
  margin-top: -18px;
  color: white;
  font-size: 24px;
}

.nav-item:hover {
  font-weight: 800;
}

.nav-item-active {
  text-decoration: underline;
}