.musicicon__staff {
  opacity:0.998;
  fill:#000000;
  fill-opacity:0.995413;
  stroke:#000000;
  stroke-width:0.588357;
  stroke-linecap:round;
  stroke-opacity:1;
}

.musicicon__staff-line {
  stroke:#000000;
  stroke-width:1.70786;
}

.musicicon__eight-rest-path {
  fill:none;
  stroke:#000000;
  stroke-width:1.35537;
}

.musicicon__eight-rest-ellipse {
  stroke:#000000;
  stroke-width:1.40139;
}

.musicicon__sixteenth-rest-path {
  fill:none;
  stroke:#000000;
  stroke-width:0.418581;
}

.musicicon__sixteenth-rest-ellipse {
  stroke:#000000;
  stroke-width:0.432794;
}

.musicicon__sixteenth-rest-path2 {
  fill:none;
  stroke:#000000;
  stroke-width:0.418581;
}

.musicicon__sixteenth-rest-ellipse2 {
  stroke:#000000;
  stroke-width:0.432794;
}

.musicicon__ottava {
  /* font-style:normal;font-weight:normal;font-size:28.7799px;line-height:1.25;font-family:sans-serif;fill:#000000;fill-opacity:1;stroke:none;stroke-width:4.28224;stroke-miterlimit:4;stroke-dasharray:none; */
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  font-stretch:normal;
  font-size:28.7799px;
  font-family:Gabriola;-inkscape-font-specification:'Gabriola, Normal';
  font-variant-ligatures:normal;
  font-variant-caps:normal;
  font-variant-numeric:normal;
  font-variant-east-asian:normal;
  stroke-width:4.28224;
  stroke-miterlimit:4;
  stroke-dasharray:none;
}