.create__configuration {
  margin: 10px;
}

.create__btn-group {
  display: flex;
  flex-wrap:wrap;
}

.create__btn {
  width: 80px;
}

.sidepanel {
  width: 400px;
  border-right: 1px solid rgb(228, 228, 228);
}

.create__grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [col] 500px [col] 100px [col] 100px [col] 100px;
  grid-template-rows: [row] auto [row] auto [row] ;
}

.create__sheet-music {
  grid-column: col 2 / span 2;
  grid-row: row ;
}
.create__position-controller {
  grid-column: col ;
  grid-row: row 2 ;
}
.create__sheet-music-form {
  grid-row: row 2;
}

.create__footer {
  grid-column: col / span 4;
  grid-row: row 3;
}