.create__configuration {
  margin: 10px;
}

.create__btn-group {
  display: flex;
  flex-wrap:wrap;
}

.create__btn {
  width: 80px;
}

.create__displaymusic {
  grid-area: displaymusic;
}
.create__config {
  grid-area: config;
  border-right: 1px solid rgb(228, 228, 228);
  margin-right: 10px;
}
.create__form {
  grid-area: form;
}

.create__container {
  margin-top: 10px;
  display: grid;
  grid-template-areas: 
    "config displaymusic displaymusic displaymusic displaymusic displaymusic"
    "config form form form form form"
    "config form form form form form";
}