:root {
  --primary-color:#170030;
  --primary-matching-color:#002D61;
  --primary-matching-color2:#00578D;
  --primary-matching-color3:#0084AD;
  --secondary-color:#D96F51;
  --primary-bg-color:#f6f8fa;
}