.music-form {
  background-color: black;
  width: 1350px;
  border-radius: 5px;
  padding: 8px;
}

.music-form__piano {
  display: flex;
}

.music-form__side-btns {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.music-form__top-buttons {
  width: 1340px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.music-form__bottom-buttons {
  margin-left: 20px;
  width: 1340px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.music-form__dynamics-buttons {
  display: flex;
  margin-top: 5px;
  margin-left: 250px;
}

.music-form__btn-group {
  display: flex;
  margin: 0px 5px;
}