.piano {
  display: flex;
  margin-top: 30px;
  width: 100%;
}

.key {
  height: calc(var(--width) * 6);
  width: var(--width);
  text-align: center;
  cursor: pointer;
}

.white {
  background-color: white;
  border: 1px solid #333;
  border-right: 2px solid #333;
}

.white:active {
  background-color: #eeeeee;
}

.black {
  background-color: black;
  background-image: linear-gradient(#656565 0%, #000 1.38%, #585858 3.53%, #1c1c1c 93.01%, #5a5a5a 94.87%, #343434 96.44%, #2b2b2b 99.79%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

.black:active {
  background-color: #333;
  background-image: linear-gradient(grey, black);
}


@media screen and (min-width: 1500px) {
  .white {
    --width: 50px;
    border-radius: 0 0 5px 5px;
  }

  .black {
    --width: 30px;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    border-radius: 5px;
  }

  .piano-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1080px) and (max-width: 1500px) {
  .white {
    --width: 30px;
    border-radius: 0 0 3px 3px;
  }

  .black {
    --width: 18px;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    border-radius: 3px;
  }

  .piano-text {
    font-size: 10px;
  }
}

@media screen and (max-width: 1080px) {
  .white {
    --width: 20px;
    border-radius: 0 0 2px 2px;
  }

  .black {
    --width: 12px;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    border-radius: 2px;
  }

  .piano-text {
    display: none
  }
}
