.input--horizontal {
  display: inline-flex;
  white-space: nowrap;
  gap: 10px;
}

.input__label {
  flex: 1;
  margin: auto 0;
  display: block;
}

.input__item-container {
  flex: 1;
  display: flex;
  margin: 10px 0px;
}

.input__item-field {
  line-height: 20px;
  margin-right: 5px;
  width: 300px;
}

.input__item-label {
  cursor: pointer;
}

.input__error {
  color: red;
}

.dropdown {
  position: relative;
  display: block;
  margin: 35px 10px 35px 0px;
}

.dropdown__label {
  cursor: pointer;
  border-radius: 5px;
  padding: 15px 20px;
  white-space: nowrap;
  background-color: #0e6d90;
  color: #fff;
  font-size: 1.4em;
}

.dropdown__content {
  min-width: 300px;
  max-height: 450px;
  overflow: auto;
  background-color: #0e6d90;
  color: #fff;
 
  position: absolute;
  z-index: 1;

  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.dropdown__item {
  border: 1px solid #0d5e7c;
  flex: 1;
  cursor: pointer;
  padding: 15px 0 15px 20px;
}

.dropdown__item--active {
  background-color:#0d5570;
}

.dropdown__item:hover {
  background-color: #1ca2d4;
}