.note-head {
  fill:#000000;
  stroke-width:0.264583;
}

.halfnote-whitehead {
  fill:#ffffff;
  stroke-width:0.292613;
}

.note-stem {
  fill:#000000;
  stroke-width:0.159448;
}

.note-flag {
  fill:#000000;
  stroke-width:0.284157;
}

.whitewhole-notehead {
  fill:#ffffff;
  stroke-width:1.44378;
}