.rest-note-ellipse {
  fill:#000000;
  stroke-width:1.31777;
  stroke-miterlimit:4;
  stroke-dasharray:none;
}

.rest-note-path {
  fill:none;
  stroke:#000000;
  stroke-width:1.565;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-opacity:1
}

.rest-note-rect {
  fill:#000000;
  stroke-width:0.391951;
}