.note-circle {
  fill: white;
  stroke: black;
  stroke-width: 2;
}

.note-line {
  stroke: black;
  stroke-width: 1;
}

.circle-filled {
  fill: black;
}

.small-circle {
  fill: black;
}